@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Montserrat:wght@600&family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
.contaniner {
    display: flex;
    padding: 127px 130px 230px 135px;
    align-items: center;
}
p {
    margin-bottom: 17px;
    color: var(--Text_Dark_Accent, #EF6D58);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h2 {
    margin-bottom: 28px;
    width: 469px;
    color: var(--Text_Dark, #391400);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
}
h3 {
    width: 470px;
    color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;/
}
.div-2 {
    width: 570px;
    height: 368px;
    border-radius: 6px;
    opacity: 0.3181;
    background: #5C2000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}
img {
    width: 148px;
    height: 148px;
}

/* mobil style */
@media screen and (max-width:768px) {
    .contaniner {
        flex-direction: column;
        align-items: center;
        padding: 63px 23px 81px 23px;
    }

    p {
        font-size: 16px;
        margin-bottom: 17px;
    }

    h2 {
        width: 100%;
        font-size: px;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 16px;
        width: 100%;
    }

    .div-2 {
        width: 329px;
        height: 212px;
        margin: auto;
        margin-bottom: 24px;
    }

    img {
        width: 148px;
        height: 148px;
    }
}